<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="text-align: center;">
    <h1 style="background-color: rgb(127, 229, 255);">Create a new Post</h1>
    <form method="post" action="/posts">
        <input placeholder="username" name="username" class="area" style="width:20rem"/><br><br>
        <textarea placeholder="Enter content" name="content" class="area" style="height:10rem" ></textarea><br>
        <button class="create">Submit</button>
    </form>
</body>
</html>